<!doctype html>
<html lang="en">

<head>
 <%- include('partials/header') %>
</head>
<body>

   
<%- include('partials/navigation') %>
        <div class="container border border-1 bg-opacity-6 border-secondary rounded-pill bg-light  text-center p-3" style="margin-top:30px">
           
            <div class="col-md-5">
                <div class="d-flex" >
                    <div class="col-auto">
                        <label for="Vendor" class="col-form-label">Vendor Search</label>
                    </div>
                    <div class="col-md-8 ms-2">
                        <input class="form-control me-1"  placeholder="" aria-label="Search" list="Vendors"
                            name="Vendor" id="Vendor">
                    </div>
                    <div class="ms-1">
                        <button class="btn btn-outline-success" id="vendorsearchButton" onclick="vendorglobalsearch()"
                            >Search</button></div>

                    <datalist id="Vendors">
                    </datalist>
                </div>
            </div>
            <!-- <div class="col-md-2"></div> -->
            <div class="col-md-5">
                <div class="d-flex" >
                    <div class="col-auto">
                        <label for="Vendor" class="col-form-label">Invoice Search</label>
                    </div>
                    <div class="col-md-8 ms-2">
                        <input class="form-control me-1"  placeholder="" aria-label="Search" list="INVOICES" name="INVOICE" id="INVOICE">
                    </div>
                    <div class="ms-1">
                        <button class="btn btn-outline-success" id="searchButton" onclick="globalsearch()"
                           >Search</button></div>
                            <datalist id="INVOICES">
                            </datalist>
                        </div>
            </div>
            <div class="col-md-1">
                <button class="btn btn-outline-danger" ONCLICK="dataload()">Reset</button>
            </div>

        </div>


        <%- include('partials/navigationend') %>


</body>
<script>


    // GET DATA from DB

    dataload();
    // alert((screen.height)-142);

    $("#tableDisplay").css("width",(screen.width)-8);
    $("#tableDisplay").css("height",(screen.height)-300);
    function tabulate(data, columns) {


      var table = d3.select('#tableDisplay').append('table')
      var thead = table.append('thead')
      var tbody = table.append('tbody');
      // append the header row
      thead.append('tr')
        .selectAll('th')
        .data(columns).enter()
        .append('th')
        .text(function (column) { return column; })
        .style('background-color', '#4096e6')
        .style('color', 'white')
        .style('text-align', 'center')
        .style('border', '1px solid #ddd')
        .style('padding', '8px');

      // create a row for each object in the data
      var rows = tbody.selectAll('tr')
        .data(data)
        .enter()
        .append('tr');

      // create a cell in each row for each column
      var cells = rows.selectAll('td')
        .data(function (row) {
          return columns.map(function (column) {
            return { column: column, value: row[column] };
          });
        })
        .enter()
        .append('td')
        .text(function (d) { return d.value; })
        .style('padding', '8px')
        .style('border', '1px solid #ddd')
        .style('background-color', '#f2f2f2')
        .style('padding-bootm', '100px')

        hideloader();
    }
    // );


    // <div class="row">
    //   <div class="column">
    //     <div class="card">
    //       <p>Some text</p>
    //       <p>Some text</p>
    //     </div>
    //   </div>


    function tabulate2(data, columns) {
      // console.log(data);
      // console.log(columns);
      // data.foreach(value=>{
      //   console.log(value);

      // })
      // columns.foreach(value2=>{
      //   console.log(value2);
      // })
      // $("#tableDisplay").append('<div class="row">');

      data1 = data[0];
      // exit();
      for (i = 0; i < data1.length; i++) {
        $("#tableDisplay").append('<div class="column"><div class="card">');
        for (j = 0; j < columns.length; j++) {
          // console.log(columns[j]+' - >'+data1[columns[j]]);
          $("#tableDisplay").append('<p>' + columns[j] + ' : ' + data1[columns[j]] + '</p>');
        }
        $("#tableDisplay").append('   </div>  </div><br>');

      }

    }
    function dataload() {
        showloader()
      var invoices = [];
      var vendors = [];
      // alert("here");
    
      var searchurl = '/universalcheck/search';
      d3.json(searchurl, function (error, data) {

        for (i = 0; i < data.length; i++) {
          if (invoices.indexOf(data[i]['Invoice Number']) == -1) {
            invoices.push(data[i]['Invoice Number']);
          }
          if ((vendors.indexOf(data[i]['Vendor Name']) == -1)) {
          vendors.push(data[i]['Vendor Name']);
        }
        // else if(vendors.indexOf(data[i]['Supplier Name']) == -1){
        //   vendors.push(data[i]['Supplier Name']);
        // }
        // else if((vendors.indexOf(data[i]['Supplier_Name']) == -1)){
        //   vendors.push(data[i]['Supplier_Name']);
        // }
          // invoices.push(data[i]['Invoice Number']);
        }
        $("#tableDisplay").html('');
        $("input").val('');

        invoices.forEach(function (item) {
          $("#INVOICES").append(`<option value='` + (item) + `'>`);
        })

        vendors.forEach(function (item) {
          $("#Vendors").append(`<option value='` + (item) + `'>`);
        })
        hideloader();

      })
    }



    function filterload(data) {
      var invoices = [];
      var vendors = [];
      // var searchurl = '/lf/search';
      // d3.json(searchurl, function (error, data) {

      for (i = 0; i < data.length; i++) {
        if (invoices.indexOf(data[i]['Invoice Number']) == -1) {
          invoices.push(data[i]['Invoice Number']);
        }
        try{
        if ((vendors.indexOf(data[i]['Vendor Name']) == -1)) {
          if(typeof data[i]['Vendor Name']!='undefined'){
          vendors.push(data[i]['Vendor Name']);
          }
        }
      }
      catch(e){
        console.log(e);
      }
      try{
        if(vendors.indexOf(data[i]['Supplier Name']) == -1){
          if(typeof data[i]['Supplier Name']!='undefined'){
          vendors.push(data[i]['Supplier Name']);
          }
        }
      }
      catch(e){
        console.log(e);
      }
      try{
        if((vendors.indexOf(data[i]['Supplier_Name']) == -1)){
          if(typeof data[i]['Supplier_Name']!='undefined'){
          vendors.push(data[i]['Supplier_Name']);
          }
        }
      }
      catch(e){
        console.log(e);
      }
        // invoices.push(data[i]['Invoice Number']);
      }


      invoices.forEach(function (item) {
        $("#INVOICES").append(`<option value='` + (item) + `'>`);
      })
      // console.log(vendors); 
      vendors.forEach(function (item) {
        $("#Vendors").append(`<option value='` + (item) + `'>`);
      })

      // })
    }

    function globalsearch() {
        showloader();
// alert("here");
      $("#tableDisplay").html('');

      let result = [];
      let invoiceid = $("#INVOICE").val();
      if (invoiceid.trim() != '') {
        invoiceid = invoiceid.trim();
        id = invoiceid;
        id = id.split('/').join('___');
        var search_url = '/universalcheck/' + id;


        d3.json(search_url, function (error, data) {

          var count = Object.keys(data).length;
          var keys = Object.keys(data);
          $("#INVOICES").html('');
          $("#Vendors").html('');

          for (i = 0; i < count; i++) {
            data1 = [];
            temp = keys[i];
            data1.push(data[temp]);
            // console.log(data1[0][0]);
            // data1.push(data[keys[i]]);
            // data2=Object.keys(data1[i]);
            // tabulate(data1,data2)

            // console.log(data[keys[i]]);
            $("#tableDisplay").append('<h4>' + keys[i] + '</h4>');

            filterload(data1[0]);
            tabulate((data1[0]), Object.keys(data1[0][0]));
          }
          //           data2.push(data['APTB'][0]);
          //           var data1 = Object.keys(data['APTB'][0]);
          // console.log(data2);
          // console.log(data1);
          // tabulate(data2,data1);
        })
      }
    }

    function vendorglobalsearch() {
showloader();
      $("#tableDisplay").html('');

      let result = [];
      let invoiceid = $("#Vendor").val();
      if (invoiceid.trim() != '') {
        invoiceid = invoiceid.trim();
        id = invoiceid;
        vendorid = id.split('/').join('___');
        // console.log("ui->" + vendorid)
        var search_url = '/universalcheck/vendor/' + vendorid;


        d3.json(search_url, function (error, data) {
          // console.log(data);
          var count = Object.keys(data).length;
          var keys = Object.keys(data);

          $("#INVOICES").html('');
          $("#Vendors").html('');
          for (i = 0; i < count; i++) {
            data1 = [];
            temp = keys[i];
            data1.push(data[temp]);
            // console.log(data1[0][0]);
            // data1.push(data[keys[i]]);
            // data2=Object.keys(data1[i]);
            // tabulate(data1,data2)

            // console.log(data[keys[i]]);
            $("#tableDisplay").append('<h4>' + keys[i] + '</h4>');

            filterload(data1[0]);
            tabulate((data1[0]), Object.keys(data1[0][0]));
          }
          //           data2.push(data['APTB'][0]);
          //           var data1 = Object.keys(data['APTB'][0]);
          // console.log(data2);
          // console.log(data1);
          // tabulate(data2,data1);
        })
      }
    }


  </script>
</html>

